<div class="main-form">
    <p>User Dashboard</p>
    <form #testForm = "ngForm" (ngSubmit) = "onClickSubmit(testForm.value)">
        <div class="form-group">
            <label>{{ 'name' | translate}}</label>
            <br/>
            <input type = "text" name = "Name" placeholder = "name" ngModel>
        </div>
        <br/>
        <div class="form-group">
            <label>{{ 'age' | translate}}</label>
            <br/>
            <input type = "text" name = "Age" placeholder = "age" ngModel>
        </div>
        <br/>
        <div class="form-group">
            <label>Select Language</label>
            <br/>
            <select name = "language" ngModel>
                <option hidden value="" disabled selected>Select Language</option>
                <option *ngFor=
                "let lang of translationService.getLangs()" [value]="lang">{{ lang }}</option>
            </select>
        </div>
        <br/>
        <input type = "submit" value = "submit">
    </form>

    <br/> 

    <div>
        {{ 'hello' | translate}}
    </div>

</div>